.first-section {
  background-image: url("../../../public/ImgHomePAge1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 300px;
}

.container-info {
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.542);
  color: white;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.container-info h1 {
  padding: 0 40px;
}

.btn-choose {
  padding: 5px 0px;
  width: 150px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.reglement-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 500px;
  position: relative;
}
.container-picture {
  background-image: url("../../../public/AjouterunePhoto.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}

.container-picture .container-title {
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}
.container-picture div h3 {
  text-align: center;
  font-size: 6rem;
  background-color: black;
  border-radius: 100px;
  width: 30%;
  margin-top: 80px;
  color: white;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5vw;
}

.main-container img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.image-card {
  position: relative;
  width: 45%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-infoPicture {
  background-color: rgba(0, 0, 0, 0.519);
  padding: 30px 35px;
  color: white;
  border-radius: 15px;
  width: 80%;
  margin: 10px auto;
}

.container-infoPicture p:nth-child(2) {
  padding-bottom: 30px;
}
