.container {
  /* background-color: rgba(0, 0, 0, 0.3); */
  position: absolute;
  top: 0;
  width: 100%;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
}

.boutton-nav {
  display: flex;
  gap: 80px;
  align-items: center;
}
.logo img {
  height: 100px;
}
.connexionIcon img{
  height: 50px;
}