.top5Photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    }

    .top5Photos img {
    width: 200px;
    height: 100px;
    margin: 10px;
    object-fit: cover;
    }
